@model IEnumerable<BankingWebApplication.Models.Account>

@{
    ViewBag.Title = "Accounts | Create";
}

<h2>List of Accounts</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountHolderName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountPin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Balance)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AccountNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountHolderName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountPin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Balance)
        </td>
        <td>
           @* @Html.ActionLink("Edit", "Edit", new { id=item.AccountID }) |*@
            @Html.ActionLink("Details", "Details", new { id=item.AccountID })
           @* @Html.ActionLink("Delete", "Delete", new { id=item.AccountID })*@
        </td>
    </tr>
}

</table>
